extends layout/layout.jade

block con
    .phone_wrap
        .us_wrap
            h2 公司简介
            p 北京市焰火工坊科技有限公司（Beijing FiresVR Technology Co., Ltd.）成立于2014年10月，创始团队有腾讯、LBE、暴风魔镜等公司背景，是国内最早涉足虚拟现实（VR）领域的科技公司之一，在移动VR底层及算法方面深耕1年以上。
            p 目前团队提供多种移动VR设备的解决方案（眼镜盒、一体机），同时提供VR内容及分发渠道，致力于移动VR生态的完整和丰富。
            h2 娄池CEO/创始人
            p 前腾讯科技频道副主编，10年科技媒体从业经验，知名自媒体人，同时担任多家TMT公司及智库顾问。
            h2 王明杨CTO/创始人
            p 中国虚拟现实技术最早期研究者之一。曾任LBE安全软件公司公司联合创始人及CEO。
            h2 张闯COO/创始人
            p 联合创始人，前腾讯网数码频道主编，科技极客。在科技、数码、游戏等领域拥有深厚经验。
            h2 团队
            p 90%以上为技术开发人员，拥有丰富的VR及图形经验，是目前VR行业中技术和磨合度最为成熟的团队。
    .pc_wrap
        .us_title
            .us_title_wrap
                h3 关于我们
        .page
            .nav 
                a.active(href="about_us.html") 关于我们
                a(href="contact_us.html") 联系我们
                a(href="join_us.html") 加入我们
            .content
                h3 公司简介
                p 北京市焰火工坊科技有限公司（Beijing FiresVR Technology Co., Ltd.）成立于2014年10月，创始团队有腾讯、LBE、暴风魔镜等公司背景，是国内最早涉足虚拟现实（VR）领域的科技公司之一，在移动VR底层及算法方面深耕1年以上。
                p 目前团队提供多种移动VR设备的解决方案（眼镜盒、一体机），同时提供VR内容及分发渠道，致力于移动VR生态的完整和丰富。
                h3 娄池CEO/创始人
                p 前腾讯科技频道副主编，10年科技媒体从业经验，知名自媒体人，同时担任多家TMT公司及智库顾问。
                h3 王明杨CTO/创始人
                p 中国虚拟现实技术最早期研究者之一。曾任LBE安全软件公司公司联合创始人及CEO。
                h3 张闯COO/创始人
                p 联合创始人，前腾讯网数码频道主编，科技极客。在科技、数码、游戏等领域拥有深厚经验。
                h3 团队
                p 90%以上为技术开发人员，拥有丰富的VR及图形经验，是目前VR行业中技术和磨合度最为成熟的团队。
