extends layout/layout.jade

block con
    .phone_wrap
        .glasses
            img(src="img/7@2x-min.png")
            img(src="img/8@2x-min.png")
            img(src="img/9@2x-min.png")
            img(src="img/10@2x-min.png")
            img(src="img/11@2x-min.png")
            img(src="img/12@2x-min.png")
    .pc_wrap
        .page.glasses
            img(src="img/1-min.png")
        .page.glasses
            img(src="img/2-min.png")
        .page.glasses
            img(src="img/3-min.png")
        .page.glasses
            img(src="img/4-min.png")
        .page.glasses
            img(src="img/5-min.png")
        .page.glasses
            img(src="img/6-min.png")
