extends layout/layout.jade

block con
    .phone_wrap
        img(src="img/content1@2x-min.png" width="100%")
        ul.mobile_main
            li
                a(href="solution.html")
                    img(src="img/1@2x-min.png")
            li
                a(href="glasses.html")
                    img(src="img/2@2x-min.png")
            li
                a(href="jidome-os.html")
                    img(src="img/3@2x-min.png")
            li
                a(href="movie.html")
                    img(src="img/4@2x-min.png")
            li
                a(href="jimu_store.html")
                    img(src="img/5@2x-min.png")
            li
                a(href="games.html")
                    img(src="img/6@2x-min.png")
                
        
    .pc_wrap
        img(src="img/content1-min.png" width="100%")
        .page.main_wrap.main
            a(href="solution.html")
                img(src="img/22-min.png")
            a(href="glasses.html")
                img(src="img/23-min.png")
            a(href="jidome-os.html")
                img(src="img/24-min.png")
        .page.main
            a(href="movie.html")
                img(src="img/25-min.png")
            a(href="jimu_store.html")
                img(src="img/26-min.png")
            a(href="games.html")
                img(src="img/27-min.png")
