extends layout/layout.jade

block con
    .phone_wrap
        .os_wrap
            img(src="img/14@2x-min.png")
            a.btn_download
            img(src="img/15@2x-min.png")
            img(src="img/16@2x-min.png")
            img(src="img/17@2x-min.png")
            img(src="img/18@2x-min.png")
            img(src="img/19@2x-min.png")
            img(src="img/20@2x-min.png")
    .pc_wrap
        .page.glasses
            img(src="img/12-min.png")
            a.download_btn1.mask
        .page.glasses
            img(src="img/13-min.png")
        .page.glasses
            img(src="img/14-min.png")
        .page.glasses
            img(src="img/15-min.png")
        .page.glasses.os
            img(src="img/16-min.png")
            video#video(src="" loop)
        .page.glasses
            img(src="img/17-min.png")
        .page.glasses
            img(src="img/18-min.png")
