extends layout/layout.jade

block con
    .phone_wrap
        .store_wrap
            img(src="img/21@2x-min.png")
            a.btn_download
            img(src="img/22@2x-min.png")
            img(src="img/23@2x-min.png")
    .pc_wrap
        aside
            .overshadow
                img.shop_bg(src="img/bg-min.png")
                video#video(src="video/20160701.mp4" autoplay loop)
            .aside_wrap
                img.mobile(src="img/phone.png")
                .text
                    h2 VR资源尽在极幕
                    p 不管你是小鲜肉，小萝莉还是御姐萌叔，<br/>想要走进虚拟现实的世界，有极幕就够了，你不下一个吗？
                    a.download_btn.mask
        .page 
            h2 海量内容
            p 最真实的VR应用，最刺激的VR游戏，最炫酷的全景资源尽在极幕，极幕</br>带你走进虚拟现实的世界。
        .page
            img(src="img/appication.png")
            img(src="img/panorama.png")
            img(src="img/game.png")
