extends layout/layout.jade

block con
    .phone_wrap
        .us_wrap
            h2 加入我们
            .line
            ul.join_us
                li
                    h3 unity u3d 开发工程师 主程【北京】
                        img(src="img/arrow@2x.png")
                    .join_con.show
                        h5 岗位职责：
                        p 1、使用Unity3D技术带领开发团队进行手机游戏客户端开发。
                        p 2、精通Unity3D引擎架构设计，熟练使用Unity NGUI等插件，熟悉UI框架和3D性能优化。
                        p 3、撰写Unity3D技术研究文档、功能开发说明文档。
                        p 4、负责手机游戏客户端的框架设计与功能开发。
                        p 5、能够独立设计及架构移动端应用程序框架，包括需求分析，创建和维护项目，代码开发和调试、发布。
                        h5 任职要求： 
                        p 1、具有完整的Unity3D项目开发经历。
                        p 2、熟悉Unity3D引擎架构设计，5年以上从业经验，3年以上Unity3D引擎开发经验。
                        p 3、精通.net、C#、C++ 语言及面向对象编程，熟悉常用关系型数据库。
                        p 4、有Unity 3D游戏开发经验，熟悉Android/iOS平台开发。
                        p 5、熟悉手游支付SDK前端开发。
                        p 6、了解Unity3D的shaderlab语言和物理引擎，熟悉3D图形学；
                        p 7、精通Shader编程，能实现高级特效；
                        h5 优先条件：
                        p 1、有3D图形引擎开发相关经验。
                        p 2、对图形学知识有深入了解，熟练使用DirectX或Opengl，并有相关作品。
                        p 3、有其他3D引擎试用及制作经验。
                        p 4、熟悉网络Socket编程。
                        p 简历请发送至HR邮箱：hr@firesvr.com
                li
                    h3 U3D开发工程师 【北京】
                        img(src="img/arrow@2x.png")
                    .join_con
                        h5 岗位职责：
                        p 1、熟悉C#程序设计。 
                        p 2、熟悉Unity3D引擎与游戏制作流程，熟悉UGUI插件； 
                        p 3、经历至少一个以上的游戏项目开发；
                        p 4、理解GPU渲染管线，可以进行shader编程；
                        p 5、负责游戏可视化编辑工具的选型和开发； 
                        h5 任职要求： 
                        p 1、熟练掌握 U3D游戏程序的软件开发，2年以上相关工作经验； 
                        p 2、有3D游戏项目开发、Android设备适配与调试经验优先； 
                        p 3、喜欢游戏开发,责任心强,具有良好的沟通、协作能力和团队合作意识;能承受工作压力 
                        p 4、良好的团队协作能力,有独立完成工作的能力。 
                        p 5、具备独立的出色创意，并且能使得创意合理的实现
                        p 简历请发送至HR邮箱：hr@firesvr.com
                li
                    h3 3D引擎开发工程师【北京】
                        img(src="img/arrow@2x.png")
                    .join_con
                        h5 岗位职责：
                        p 1、开发及优化VR游戏引擎；
                        p 2、VR游戏引擎某些功能模块开发；
                        p 3、游戏编辑器功能开发和维护；
                        p 4、各种VR游戏软件算法研究。
                        h5 任职要求： 
                        p 1、精通C++/C#编程，熟悉win32和vc++开发环境；
                        p 2、熟悉游戏的图形显示技术及3D算法；
                        p 3、良好的面向对象设计、分析能力、规范的编程风格；
                        p 4、有很好的学习能力，沟通能力，热爱游戏，吃苦耐劳；
                        p 5、能熟练阅读英文技术文档；
                        p 6、熟悉主流商业引擎(UnrealEngine/CryEngine/Unity3D)者优先。
                        p 简历请发送至HR邮箱：hr@firesvr.com
    .pc_wrap
        .us_title
            .us_title_wrap.res
                h3 加入我们
        .page
            .nav.res 
                a(href="about_us.html") 关于我们
                a(href="contact_us.html") 联系我们
                a.active(href="join_us.html") 加入我们
            ul.res.padb.join_us
                li
                    h3 unity u3d 开发工程师 主程【北京】
                    p 
                        span 2016-06-29 发布
                        span.right 查看详情
                    .join_con.show
                        h5 岗位职责：
                        p 1、使用Unity3D技术带领开发团队进行手机游戏客户端开发。
                        p 2、精通Unity3D引擎架构设计，熟练使用Unity NGUI等插件，熟悉UI框架和3D性能优化。
                        p 3、撰写Unity3D技术研究文档、功能开发说明文档。
                        p 4、负责手机游戏客户端的框架设计与功能开发。
                        p 5、能够独立设计及架构移动端应用程序框架，包括需求分析，创建和维护项目，代码开发和调试、发布。
                        h5 任职要求： 
                        p 1、具有完整的Unity3D项目开发经历。
                        p 2、熟悉Unity3D引擎架构设计，5年以上从业经验，3年以上Unity3D引擎开发经验。
                        p 3、精通.net、C#、C++ 语言及面向对象编程，熟悉常用关系型数据库。
                        p 4、有Unity 3D游戏开发经验，熟悉Android/iOS平台开发。
                        p 5、熟悉手游支付SDK前端开发。
                        p 6、了解Unity3D的shaderlab语言和物理引擎，熟悉3D图形学；
                        p 7、精通Shader编程，能实现高级特效；
                        h5 优先条件：
                        p 1、有3D图形引擎开发相关经验。
                        p 2、对图形学知识有深入了解，熟练使用DirectX或Opengl，并有相关作品。
                        p 3、有其他3D引擎试用及制作经验。
                        p 4、熟悉网络Socket编程。
                        p 简历请发送至HR邮箱：hr@firesvr.com
                li
                    h3 U3D开发工程师 【北京】
                    p 
                        span 2016-06-29 发布
                        span.right 查看详情
                    .join_con
                        h5 岗位职责：
                        p 1、熟悉C#程序设计。 
                        p 2、熟悉Unity3D引擎与游戏制作流程，熟悉UGUI插件； 
                        p 3、经历至少一个以上的游戏项目开发；
                        p 4、理解GPU渲染管线，可以进行shader编程；
                        p 5、负责游戏可视化编辑工具的选型和开发； 
                        h5 任职要求： 
                        p 1、熟练掌握 U3D游戏程序的软件开发，2年以上相关工作经验； 
                        p 2、有3D游戏项目开发、Android设备适配与调试经验优先； 
                        p 3、喜欢游戏开发,责任心强,具有良好的沟通、协作能力和团队合作意识;能承受工作压力 
                        p 4、良好的团队协作能力,有独立完成工作的能力。 
                        p 5、具备独立的出色创意，并且能使得创意合理的实现
                        p 简历请发送至HR邮箱：hr@firesvr.com
                li
                    h3 3D引擎开发工程师【北京】
                    p 
                        span 2016-06-29 发布
                        span.right 查看详情
                    .join_con
                        h5 岗位职责：
                        p 1、开发及优化VR游戏引擎；
                        p 2、VR游戏引擎某些功能模块开发；
                        p 3、游戏编辑器功能开发和维护；
                        p 4、各种VR游戏软件算法研究。
                        h5 任职要求： 
                        p 1、精通C++/C#编程，熟悉win32和vc++开发环境；
                        p 2、熟悉游戏的图形显示技术及3D算法；
                        p 3、良好的面向对象设计、分析能力、规范的编程风格；
                        p 4、有很好的学习能力，沟通能力，热爱游戏，吃苦耐劳；
                        p 5、能熟练阅读英文技术文档；
                        p 6、熟悉主流商业引擎(UnrealEngine/CryEngine/Unity3D)者优先。
                        p 简历请发送至HR邮箱：hr@firesvr.com
                
