extends layout/layout.jade

block con
    .phone_wrap
        .movie_wrap
            img(src="img/24@2x-min.png")
            a.btn_download
            img(src="img/25@2x-min.png")
            img(src="img/26@2x-min.png")
            img(src="img/27@2x-min.png")
            img(src="img/28@2x-min.png")
    .pc_wrap
        .page.glasses
            img(src="img/7-min.png")
            a.download_btn.movie.mask
        .page.glasses
            img(src="img/8-min.png")
        .page.glasses
            img(src="img/9-min.png")
        .page.glasses
            img(src="img/10-min.png")
        .page.glasses
            img(src="img/11-min.png")
