extends layout/layout.jade

block con
    .text_wrap
        p 《喵之勇者大冒险》游戏(以下简称“本游戏”)隐私权保护声明系本游戏保护用户个人隐私的承诺。本声明适用于本游戏的正常使用中遇到的相关服务。故特此说明本游戏对用户个人信息所采取的收集、使用和保护政策，请您务必仔细阅读。
        h2 隐私保护声明
        p 本游戏尊重用户的私隐权，除根据用户协议需透露外，作为对用户资料的保护，本游戏不会公开或透露用户的注册资料及保存在本游戏各项服务中的非公开内容，并尽力将用户资料机密保存。然而，遇到无法控制的恶意侵夺时，本游戏将不会承担任何法律责任。
        h2 联系方法
        p 我们可能会不时修改我们的隐私政策。
        p 我们鼓励您在每次访问焰火工坊的网页时都查阅我们的隐私政策。
        p 有关本声明或焰火工坊的隐私措施的问题请与焰火工坊的网站协调人联系。联系方式为：firesvr@firesvr.com
    .btn_list.clearfix
        a(href="games.html") 首页
        a(href="provision.html") 服务条款
        a(href="privacy.html") 隐私说明
