extends layout/layout.jade

block con
    .text_wrap
        h2 一、版权声明：
        p 焰火工坊（以下简称焰火工坊）所提供的服务 （包括但不限于文字、软件、声音、图片、动画、录象、图表、广告中的全部内容；电子邮件的全部内容；及为用户提供的其他信息）的相关著作权、专利权、商标、营业秘密及其它任何所有权或权利，均属焰火工坊所有。该知识产权依法受到保护。非经焰火工坊的同意，任何人或用户均不得擅自下载、重制、传输、改作、编辑上述服务内容或创造与内容有关的派生产品，否则应负所有法律责任。焰火工坊拥有向用户提供服务过程中所产生并储存于焰火工坊服务器中的任何数据信息（包括但不仅限于账号等数据信息）的所有权。
        h2 二、用户协议声明：
        p 用户协议系焰火工坊用户与焰火工坊就焰火工坊所开发、运营的各款网络游戏所订立的相关权利义务规范。焰火工坊用户在注册成为游戏服务用户前，应当确实详细阅读该协议条款的所有内容，当用户点选同意键或使用任何服务即视为同意并接受本协议条款的所有规范并愿受其约束。
        p 用户协议条款焰火工坊有权进行修改，修改后的协议一旦公布即有效替代原来的协议，用户可随时查阅最新协议。焰火工坊用户在进入焰火工坊的任一款游戏前，应仔细阅读相应用户协议，如不同意该协议及/或对其的修改，可以停止接受焰火工坊依据用户协议提供的服务。
        h2 三、责任限制声明：
        p 用户对网页的浏览、 网络服务的使用承担风险， 焰火工坊不担保服务一定能满足用户的要求，也不担保服务不会受中断，对服务的及时性，安全性，出错发生都不作担保。对于任何因为使用或无法使用服务而引致的直接、间接、附带、衍生或惩罚性的损失，包括但不限于有关利润损失、业务中断或资料损失，焰火工坊概不承担任何法律责任（在现行法律许可的范围内）。
    .btn_list.clearfix
        a(href="games.html") 首页
        a(href="provision.html") 服务条款
        a(href="privacy.html") 隐私说明
