body{
    font-size: 20px;
    background:#f1f2f6;

}
.phone_wrap {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    tap-highlight-color: rgba(0,0,0,0);
    focus-ring-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    -moz-focus-ring-color: rgba(0, 0, 0, 0);
}

.phone_wrap{
    position: relative;
}
.actGotop{
    background: url('../img/return.png') no-repeat;
    width:54px;
    height:54px;
    position: fixed;
    bottom:100px;
    right:50px;
    cursor: pointer;
    display: none;
    z-index: 300;
}
ul{padding:0;margin:0;}
aside{
    width:100%;
    position: relative;
    min-height: 470px;
    overflow: hidden;
    margin-bottom: 43px;
    min-width: 900px;
}
aside .overshadow{
    width:100%;
    min-height: 470px;
    position: absolute;
    top:0;
    left:0;
    background: rgba(0,0,0,.15);
    z-index: 99;
}
aside .shop_bg{
    width:100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 10;
}
aside .aside_wrap{
    width:45.5%;
    min-width: 580px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index: 100;
}
aside video{
    width:100%;
    position: absolute;
    left: 0;
    top:0;
    z-index: 80;
}
aside .aside_wrap .mobile{
    float: left;
    width:30%;
    margin-right:158px;
}
aside .aside_wrap .text{
    min-width: 325px;
    margin-top:13%;
    color:#fff;
    font-size: 16px;
    line-height: 26px;
    position: absolute;
    left:4.5rem;

}
.aside_wrap .text h2{
    font-size: .4584rem;
    line-height: .9rem;
}
.aside_wrap .text p{
    margin-bottom: .47rem
}
.aside_wrap .text img{
    width:1.0625rem;
    float:left;
}
.aside_wrap .text .download_btn{
    float:left;
    width:1.65rem;
    height:.5rem;
    background: url('../img/download.png') no-repeat;
    background-size: cover;
    cursor: pointer;
}
.page{
    width:100%;
    margin: 0 auto;
    text-align: center;
    min-width: 1000px;
    position: relative;
}
.page h2{
    font-size: 44px;
    line-height: 83px;
    color:#333;
    font-weight: normal;
}
.page p{
    font-size: 18px;
    color:#777;
    line-height:31px;
    margin-bottom: 47px;
}
.page img{
    width:4rem;
    margin-left:.2rem;
    margin-bottom: 70px;
}
.page img:first-child{
    margin-left:0;
}
.us_title{
    background:url('../img/tital-bg.png');
    height:172px;
    position: relative;
}
.us_title_wrap{
    position: relative;
    height:172px;
    width:1200px;
    margin:0 auto;
}
.us_title h3{
    color:#fff;
    font-size: 26px;
    line-height: 60px;
    border-bottom: 4px solid #86858a;
    width:151px;
    position: absolute;
    text-align: center;
    bottom:0;
}
.page .nav{
    width:1200px;
    padding:20px 0;
    line-height: 20px;
    font-size: 18px;
    text-align: left;
    margin:50px auto 2px;
    border-bottom: 2px solid #dfe0e4;

}
.page .nav a{
    color:#898a8e;
    width:158px;
    display: inline-block;
    text-align: center;
    border-left:2px solid #d0d1d6;
}
.page .nav a.active{
    color:#3e7be6;
}
.page .nav a:first-child{border:none;}
.content,.join_us{
    width:1200px;
    border-top:2px solid #d0d1d6;
    margin:0 auto;
    text-align: left;
    padding-left:24px;
    padding-bottom: 147px;
}
.padb{
    padding-bottom: 0;
}
.content h3{
    margin-top:23px;
    line-height: 24px;
    font-size: 18px;
    padding-left:35px;
    font-weight: normal;
    border-left:4px solid rgba(0, 0, 0, 0);
    color:#777;
}
.content h3:first-child{
    border-left:4px solid #3e77de;
}
.content p{
    line-height: 26px;
    margin:15px 0 2px;
    padding-left:35px;
    color:#333;
}
.content p span{
    margin-right:53px;
}
.content i{
    color:#c4c5c9;
    margin-left:20px;
    font-size: 18px;
    line-height: 48px;
}
.content .line{
    position: relative;
    left:-24px;
    width:1200px;
    height:1px;
    background: #d0d1d5;
    margin-top:25px;
}
.join_us{
    padding-bottom: 70px;
    padding-left:0;
}
.join_us li{
    padding:27px 15px 7px 24px;
    border-bottom: 1px solid #cdced3;
    position: relative;
    cursor: pointer;
}
.join_us h3{
    border-left:4px solid #3e77de;
    padding-left: 35px;
    font-weight: normal;
    color:#333;
    line-height: 22px;
    font-size: 18px;
}
.join_con{
    display: none;
    padding:24px 0 30px;
    border-top:1px solid #cdced3;
}
.show{display: block;}
.join_us h5{
    padding-left:35px;
    border-left:4px solid rgba(0,0,0,0);
    color:#777;
    line-height: 34px;
}
.join_us p{
    margin:0;
    padding-left:35px;
    line-height: 54px;
    border-left:4px solid rgba(0, 0, 0, 0);
}
.join_us p .right{
    position: absolute;
    top:0;
    right:45px;
    line-height: 110px;
    color:#333;
}
.join_con p{
    line-height: 34px;
}
.code_list{
    margin-top:35px;
    margin-left:35px;
}
.code_list li{
    float:left;
    text-align: center;
    margin-right:35px;
}
.code_list li h2{
    font-size: 18px;
    line-height: 38px;
    margin-bottom: 15px;
}
.code_list li img{
    width:1.785rem;
    margin:0;
}
.add_map{
    width:1200px;
    height:384px;
    margin:30px auto 70px;
}
.news_wrap{
    width:1200px;
    margin: 0 auto;
    position: relative;
}
.news_wrap .banner img{
    width:100%;
    margin:34px 0 20px;
}
.news_left{
    width:78%;
    float:left;
    padding:0 .47rem 150px;
    background: #fff;
    margin-right: 2%;
}
.news_left li{
    padding:.47rem 0;
    border-bottom: 1px solid #ececec;
}
.news_left img{
    width:33%;
    float:left;
    margin-right:4%;
}
.media-body{
    width:63%;
    float:left;
    color:#5f5f5f;
}
.media-body h2{
    font-size: 22px;
    line-height: 56px;
}
.media-body p{
    font-size: 16px;
    line-height: 26px;
}
.media-body p span{
    font-size: 16px;
    line-height: 26px;
    color:#006dff;
    display: inline-block;
}
.media-body span{
    font-size: 12px;
    line-height: 46px;
    display: block;
}
.news_right{
    width:20%;
    float:right;
    padding:30px 19px;
    background: #fff;
}
.news_right h2{
    font-size: 16px;
    line-height: 44px;
    color:#777;
    border-bottom: 1px solid #ececec;
}
.news_right_body{
    margin:23px 0 98px;
    padding:0;
}
.news_right_body a{
    color:#777;
    display: block;
}
.news_right_body a p{
    font-size: 14px;
    line-height: 26px;
    text-align: left;
}
.news_right_body span{
    line-height: 48px;
    font-size: 12px;
}
.news_right_body p span{
    font-size: 14px;
    line-height: 26px;
    color:#006dff;
}
.news_right img{
    width:87.13%;
    margin:0.25rem auto;
    display: block;

}
.news_right p{
    font-size: 14px;
    text-align: center;
    color:#5c5c5c;
}
.solution_wrap{
    padding:2.167rem 0;
    background-image: url('../img/bg-one-min.png');
    background-repeat:no-repeat;
    background-size: cover;
    overflow: hidden;
}
.solution_list p{
    color:#fff;
}
.solution_list li .title{
    height:.3855rem;
    width:auto;
    margin-bottom: 35px;
}
.solution_list li p{
    width:11rem;
    margin:0 auto 60px;
    animation: myfirst 1s;
    font-size: 16px;
    line-height: 40px;
}
.images_wrap{
    width:13.771rem;
    margin:0 auto;
    animation: myfirst 2s ease-in-out;
}
.images_wrap .images{
    float:left;
    width:31%;
    margin:0 1%;
}
.images_wrap .images img{
    width:100%;
    margin:0;
}
.images_wrap .images h2{
    line-height: 80px;
    color:#fff;
    font-size: 16px;
}
.solution_list{
    position: relative;
    margin:0 auto;
    text-align: center;
}
.solution_list li{
    display: none;
    position: absolute;
    left:0;
    top:0;
    width:100%;
}
.solution_list li:first-child{
    display: block;
}
.solution_list li .text_list,.solution_list li .text_list1,.contact_wrap{
    width:60%;
    margin:0 auto;
    padding:80px 3.65% 20px;
    min-width: 1024px;
    background:rgba(0,0,0,.5) url('../img/yanjing-min.png') no-repeat;
    background-position: right center;
    animation: myfirst 2s ease-in-out;
}
.solution_list li .text_list1,.contact_wrap{
    background: rgba(0,0,0,.5);
    animation: myfirst 2s ease-in-out;
}

@keyframes myfirst
{
    from {
        transform: translateY(20%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}
.solution_list li .text_list li,.solution_list li .text_list1 li{
    display: block;
    position: relative;

}
.solution_list li .text_list p,.solution_list li .text_list1 p{
    margin:0;
    text-align: left;
    font-size: 16px;
    line-height: 56px;
    width:64%;
}
.solution_list li .text_list1 p{
    width:100%;
}
.contact_wrap{
    position: relative;
    padding:0;
    margin-top:35px;
}
.contact_map{
    width:55%;
    height:4.31rem;
    min-height: 300px;
    float:right;
}
.contact_wrap li{
    display: block;
    position:relative;;
    line-height: 52px;
}
.contact_wrap ul{
    width:45%;
    padding:40px 0 0 55px;
    float:left;
}
.contact_wrap ul li:first-child{
    margin-bottom: 36px;
}
.contact_wrap li p{
    width:auto;
    text-align: left;
    margin:0;
}
.contact_wrap li p span{
    position: absolute;
    top:12px;
    line-height: 30px;
}

.solution_nav{
    width:60%;
    margin:.6771rem auto 0;
    background: rgba(0,0,0,.5);
    min-width: 1024px;
    position: relative;
    top:35px;
}
.solution_tab{
    width:820px;
    margin:0 auto;
}
.solution_tab a{
    color:#c3c3c3;
    line-height: 71px;
    float:left;
    /*padding:0 .44rem;*/
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}
.solution_tab a:nth-of-type(1),.solution_tab a:nth-of-type(3){
    width:27.5%;
}
.solution_tab a:nth-of-type(2),.solution_tab a:nth-of-type(4){
    width:21.5%;
}
.solution_tab a.active,.solution_tab a:hover{
    background:url('../img/nav-item-bg.png') no-repeat;
    color:#9cf3ff;
}
.glasses img{
    width:100%;
    margin:0;
    display: block;
}
.page a.download_btn,.page a.download_btn1{
    width:1.65rem;
    height:.5rem;
    cursor: pointer;
    background: url('../img/download.png') no-repeat;
    transform: translateX(-50%);
    position: absolute;
    bottom:2.6rem;
    background-size: cover;
}
.page a.download_btn1{
    bottom:.75rem;
}
.os img{
    position: relative;
    z-index: 10;
}
.os video{
    width:100%;
    position: absolute;
    left:0;
    top:0;
}
.wrap{
    background: url('../img/b-min.png') no-repeat scroll center top;
    min-width: 1280px;
    width:100%;
    height:1825px;
    padding-top:273px;
}
.btn_play{
    background: url('../img/play-min.png') no-repeat;
    width:120px;
    height:115px;
    margin:0 auto;
    cursor: pointer;
    margin-top:260px;
}
#slider {
	z-index: 1;width: 1180px; background: #000; height: 523px; overflow: hidden;margin:0 auto;position: relative;margin-top:326px;
}
#slider .slide {
	z-index: 10; position: absolute; border-left: #000 1px solid; width: 100%; background: #000; height: 523px; overflow: hidden; top: 0px; cursor: pointer; left: 22px;text-align:left;
}
#slider .title {
	color: #f80; font-size: 1.2em; font-weight: bold; margin-right: 1.5em; text-decoration: none
}

#slider .diapo {
	position: absolute; filter: alpha(opacity=100); visibility: visible; opacity: 1;width:996px;height:523px;
}
#slider div.filter{
    -webkit-filter:grayscale(100%);
    filter:grayscale(100%);
}

.fsbanner{
    width:1200px;
    height:523px;
}
.video_wrap,#mask{
    width:100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;;
    top:0;
    left:0;
    z-index: 200;
    display: none;
}
#myvideo,#mask .mask_con{
    width:854px;
    height:480px;
    position: fixed;
    top:50%;
    left:50%;
    margin-left:-427px;
    margin-top:-240px;
    z-index: 200;
}
#mask .mask_con{
    width:500px;
    height:500px;
    margin-left:-250px;
    margin-top:-250px;
    background: #fff;
    padding:50px;
    text-align: center;
}
#mask .mask_con img{
    width:300px;
}
#myvideo a{
    width:44px;
    height:44px;
    display: block;
    float:right;
    line-height: 44px;
    font-size: 26px;
    background: #000;
    text-align: center;
    color:#fff;
}

.btn_list{
    width:1024px;
    margin:0 auto;
    padding:50px 0;
    min-width: 1024px;
}
.btn_list a{
    line-height: 36px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    padding:0 20px;
    color:#000;
    margin: 0 12%;
}
#mask .mask_con
.text_wrap{width:800px;margin:100px auto;font-family:"微软雅黑";min-height:555px;}
.text_wrap h2{margin:40px 0;font-size: 24px;line-height: 40px;}
.text_wrap p{font-size: 16px;line-height: 24px;}

.main a{
    margin:0 10px 65px;
    display: inline-block;
}
.main_wrap a{
    margin:65px 10px 25px;
    display: inline-block;
}
.main img{
    width:100%;
    margin:0;
    cursor: pointer;
    transform: scale(1);
    transition: All 0.2s ease-in-out;
    position: relative;
    z-index: 1;
}
.main img:hover{
    box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
	transform:translate(0,-2px);
    z-index: 5;
}

.phone_wrap img,.phone_wrap a{
    display: block;
}
.mobile_main{
    float:left;
    padding:0.8rem .2125rem .48rem;
}
.mobile_main li{
    float:left;
    width:9.149rem;
    margin:0.3125rem;
}
.mobile_main li img{
    width:100%;
}
.phone_wrap .glasses img{
    width:100%;
}
.nav_solution{
    padding:0 .5rem;
    background: #030919;
    color:#fff;
    font-size: .64rem;
}
.nav_solution a{
    display: inline-block;
    text-align: center;
    width:9.125rem;
    color:#999;
    font-size: .64rem;
    line-height: 2.7rem;
}
.nav_solution a.active{
    color:#fff;
}
.phone_wrap .text_list{
    padding:.6383rem .7447rem;
    font-size: 0.64rem;
}
.phone_wrap .text_list h3{
    line-height: 2.15rem;
    color:#333;
}
.phone_wrap .text_list p{
    line-height: .9rem;
    color:#666;
    margin-bottom: .48rem
}
.phone_wrap .plan{
    visibility: hidden;
}
.phone_wrap .plan:nth-of-type(3){
    position: absolute;
    top:2.7rem;
}
.phone_wrap .plan.active{
    visibility: visible;
}
.os_wrap .btn_download,.store_wrap .btn_download,.movie_wrap .btn_download,.games_wrap .btn_download{
    position: relative;;
    width:100%;
    height:2.126rem;
    margin-top:-2.126rem;
    background: url('../img/download.png') no-repeat center;
    background-size: contain;
    top:-3.5rem;
}
.store_wrap .btn_download{
    top:-1.4rem;
}
.store_wrap img:nth-of-type(2){
    padding:1.12rem .9rem 0;
}
.store_wrap img:nth-of-type(3){
    padding:1rem .375rem;
}
.movie_wrap .btn_download{
    top:-4.5rem;
}
.movie_wrap img:nth-of-type(2){
    margin-top:1.3rem;
}
.movie_wrap img:nth-of-type(3){
    margin-top:1.6rem;
}
.games_wrap{
    background: url('../img/bg@2x-min.png') no-repeat;
    background-size: 100%;
    padding:17.9rem .5319rem 0;
}
.games_wrap .btn_download{
    position: inherit;
    margin:0 auto 5.25rem;
}
.games_wrap img{
    margin-bottom: .532rem;
}
.games_wrap img:last-child{
    margin:1.2766rem auto 2.0213rem;
}
.us_wrap{
    overflow: hidden;
    padding-bottom: 1rem;
}
.us_wrap h2,.us_wrap h3{
    line-height: 1.9rem;
    font-size: .7447rem;
    margin-top:.8rem;
    color:#333;
    text-indent: .5319rem;
}
.us_wrap .line{
    height:3px;
    margin-left:-0.8rem;
    margin-right:-0.8rem;
    border:1px solid #ccc;
}
.us_wrap h2 span{
    color:#666;
    font-size: 0.64rem;
}
.us_wrap h3{
    color:#666;
    border-bottom: 1px solid #ccc;
    font-size: .64rem;
    line-height: 2.94rem;
    margin:0;
}
.us_wrap h3 span{
    text-decoration: underline;
}
.us_wrap p{
    line-height: 1rem;
    font-size: .64rem;
    color:#666;
    padding:0 .5319rem;
}
.us_wrap .code_list{
    margin:1.064rem 0 3.26rem .5319rem;
}
.us_wrap .code_list li{
    margin-right:0.74rem;
}
.us_wrap .code_list li img{
    width:5rem;
}
.us_wrap .code_list li h2{
    line-height: 1.3rem;
    font-size: .64rem;
    margin: 0;
    border:none;
}
.dynamics_wrap{background:#fff;}
.dynamics_wrap h2{
    font-size: .75rem;
    line-height: 2.7rem;
    background: #000;
    color:#fff;
    text-indent: .8rem;
}
.dynamics_wrap .more{
    line-height: 2.8rem;
    text-align: center;
    color:#999;
    border-top:2px solid #f2f2f2;
    cursor: pointer;
    font-size: .64rem;
}
.dynamics_wrap .news_list{
    padding:.426rem 0;
}
.dynamics_wrap .news_list a{
    color:#666;
    font-size: .7rem;
    line-height: 2.4rem;
    height:2.4rem;
    padding:0 .8rem;
}
.dynamics_wrap .news_list a p{
    display: inline-block;
    width:12rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dynamics_wrap .news_list a span{
    float:right;
    color:#adadad;
}
.phone_wrap .join_us{
    border:none;
    padding:0;
    width:100%;
}
.phone_wrap .join_us li{
    padding:0;
}
.phone_wrap .join_us li:link{
    background: none;
}
.phone_wrap .join_us h3{
    border:none;
    padding:0;
    position: relative;
    color:#333;
}
.phone_wrap .join_us img{
    position: absolute;
    right:0.64rem;
    bottom:1rem;
    width:.479rem;
    transition: transform 300ms;
}
.phone_wrap .join_us .join_con{
    padding:0 0.5319rem 1rem;
    font-size: .64rem;
    line-height: 1rem;
    transition: all 500ms;
}
.phone_wrap .join_us h5{
    line-height: 1rem;
    border:none;
    padding:0;
    color:#999;
    margin-top:1rem;
}
.phone_wrap .join_us p{
    padding:0;
    border:none;
}

#page_navigation{
    position: absolute;
    bottom:50px;
    width:78%;
    text-align: center;
}
#page_navigation a{
    border:1px solid #eee;
    display: inline;
    padding:11px 13px;
    border-right:none;
    background: #f6f6f6;
    font-size: 14px;
    cursor: pointer;
    color:#333;
}
#page_navigation a.active_page{
    background: #1373b3;
    color:#fff;
}
@media screen and (max-width:1280px){
	.page img{
        width:5rem;
    }
    /*.header,.page .nav,.page .content,.us_title_wrap,.content .line{
        width:900px;
    }*/
    .header,.res,.page .res{
        width:900px;
    }
    .news_wrap{
        width:1000px;
    }
    .solution_list li p,.solution_tab a{
        font-size: 14px;
        line-height: 24px;
    }
    .solution_tab a{
        line-height: 50px;
    }
    .solution_list li .text_list,.solution_list li .text_list1{
        background-size: 40%;
    }
    .solution_list li .text_list p{
        font-size: 14px;
        line-height: 36px;
    }
    .solution_list li .text_list1 p{
        line-height: 50px;
    }
    .solution_nav{
        top:0;
    }
    .glasses img,.os_wrap img,.store_wrap img,.movie_wrap img,.games_wrap img{
        width:100%;
    }
    footer .footer{
        width:900px;
    }
}
@media screen and (max-width:1024px){
    .solution_list{
        width:90%;
    }
    .solution_list li .text_list1 p{
        line-height: 46px;
    }
    .actGotop{
        background-size: 100%;
        width:2rem;
        height:2rem;
        bottom:2rem;
        right:1rem;
    }
}

@media screen and (max-width:1024px){
    .pc_wrap{
        display: none;
    }
    .phone_wrap{
        display: block;
    }
}
@media screen and (min-width:1025px){
    .pc_wrap{
        display: block;;
    }
    .phone_wrap{
        display: none;
    }
}
